body,
html,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6F4E37;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}